body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.maincontent {
  display: flex;
  flex: 1;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  /* text-indent: 16px;
  padding: 10px 0;
  flex: 0; */
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /* text-align: center;
  vertical-align: middle;
  padding: 20px 0;
  flex: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0;
  padding: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding-bottom: 20px;
}

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
  align-items: center;
  /* gap: 20px; */
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding: 32px;
  margin: 16px;
  width: 200px;
  height: 300px;
}
